.pos_fixed
{
  width: 10%;
	position:fixed;
	bottom:20px;
	right:5px;
  z-index: 2;
}

.img-style{position:absolute;top:50%;left:50%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

.center {
  margin: auto;
  width: 100%;
  border: 3px solid #31684a;
  padding: 10px;
}