.miaobian1 {
    font-weight: 90;
    -webkit-text-stroke: 1px #ffffff;
  }
.miaobian2 {
    font-weight: 900;
    -webkit-text-stroke: 1px #ffffff;
}
.img-style{position:absolute;top:50%;left:50%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}